<form {{action 'save' on="submit"}}>
  {{input value=model.title placeholder="enter title"}}
  {{input value=model.image placeholder="image url"}}
  <button type="submit">Create Book</button>
</form>
