<div class="container">
  <div class="row">
    <div class="large-6 large-centered columns welcome">
      <h1>Welcome to Kiprosh</h1>
      {{#slick-slider appendArrows=true autoplay=true arrows=false}}
        <div class="box"> <img src="http://kiprosh.com/uploads/media_file/file/16/IMG_7467.JPG"> </div>
        <div class="box"> <img src="https://secure.meetupstatic.com/photos/event/d/c/9/e/highres_452816478.jpeg"> </div>
        <div class="box"> <img src="http://kiprosh.com/uploads/media_file/file/27/Sampat_pose3.jpg"> </div>
        <div class="box"> <img src="http://kiprosh.com/uploads/media_file/file/34/Kiproshers_Trek.jpg"> </div>
        <div class="box"><img src="http://static.dnaindia.com/sites/default/files/styles/half/public/2016/06/19/473077-472740-international-yoga-day.jpg?itok=OAJEcwML"  /></div>
      {{/slick-slider}}
    </div>
  </div>
</div>
