<div class="row">


  <div class="small-12 columns">
    <div class= "large-6 columns" >
      <img src="{{model.book.image}}">
    </div>
    <div class="large-6 columns">
      <label>{{model.book.title}}</label>
      <label>{{model.book.condition}}</label>
      <hr />
      {{#paper-autocomplete
        disabled=firstDisabled
        onSelect=(route-action "addBookUser")
        options= model.users
        allowClear=true
        searchText=(readonly userSearchText)
        onSearchTextChange=(action (mut userSearchText))
        selected=selectedUser
        search=(if simulateQuery (route-action "searchUsers"))
        searchField="firstname"
        labelPath="firstname"
        placeholder="Select a User to Issue this book..."
        loadingMessage="Searching Users..."
        noMatchesMessage="Oops this user doesn't exist. Create a new perseon?"
        onSelectionChange=(action (mut selectedUser)) as |user autocomplete|}}
        {{paper-autocomplete-highlight
          label=user.firstname
          searchText=autocomplete.searchText
          flags="i"}}
      {{/paper-autocomplete}}
      {{#paper-button raised=true onClick=(route-action 'addBookUser' model)}}Issue{{/paper-button}}
    </div>
  </div>

</div>
