{{#each model as |user|}}
  <div class="large-4 columns">
    <div class="card-profile-stats">
    <div class="card-profile-stats-intro">
      <img class="card-profile-stats-intro-pic-round" src="{{if user.img_url user.img_url 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png'}}" alt="profile-image" />
      <div class="card-profile-stats-intro-content">
        <strong>{{user.firstname}} {{user.lastname}}</strong>
        <p>Joined Jan.16th 2017</p>
      </div> <!-- /.card-profile-stats-intro-content -->
    </div> <!-- /.card-profile-stats-intro -->

    <hr />

    </div> <!-- /.card-profile-stats -->
  </div>
{{/each}}
{{back-botton}}
